<%- include('header') -%>

    <div class="box" id="heading">
        <h1>
            <%= listType %>
        </h1>
    </div>

    <div class="box">

        <% newItem.forEach((eachItem)=>{ %>
            <form action="/delete" method="post">
                <div class="item">
                    <input type="checkbox" onChange="this.form.submit()" value="<%= eachItem._id %>" name="checkBox">
                    <p>
                        <%= eachItem.name %>
                    </p>
                </div>
            </form>
            <% }) %>

                <form action="/" method="post">
                    <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
                    <button type="submit" name="list" value="<%= listType %>">+</button>
                </form>
    </div>

    <%- include('footer') -%>