<%- include('partials/header'); -%>




    <% blogArray.forEach(function(blog){ %>
        <h1>
            <%= blog.blogTitle %>
        </h1>

        <p>
            <%= blog.blogContent.substring(0,100) + "..." %>
                <a href="/posts/<%= blog.blogTitle %>">Read More</a>
        </p>

        <% }) %> <%- include('partials/footer'); -%>